body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    border: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 1em;
}
img{
    width: 300px;
    height: auto;
    border: 6px solid #666666;
    margin-bottom: 30px;
    margin-right: 30px;
    float: left;
    border-radius: 10px;
}

h1{
    color: blueviolet;
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: bold;
}

p{
    color: #333333;
    font-size: 1em;
    margin-bottom: 30px;
    line-height: 150%;
}